@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.mainList{
    position: absolute;
    z-index: 3;
    top: 90px;
    left: 30vw;
}
.forLi{
    display: flex;
    text-align: justify;
    max-width: 500px;
    margin-bottom: 10px;
}
.forLi>span{
    position: relative;
    width: 100px;
    float: left;
    right: 100px;
}
.closeButtonForLi{
    background-color: white;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    transition: all .3s ease;
}
.closeButtonForLi:hover{
    background-color: #909091;
}